body {
  background: rgb(177, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

.cellContainer {
  background: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 600px;
  height: 600px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.rowContainer {
  display: flex;
  flex: 0 0 auto;
  width: 600px;
}

.cell {
  flex: 0 0 auto;
}